page-person {
  ion-avatar img {
    display: block;
    border-radius: 50%;
    width: auto;
    height: 100px;
    margin: 0 auto 0;
    box-shadow: 0px 11px 20px -3px rgba(142, 136, 146, 0.75);
  }
}
