// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*********** 背景色 start **********/
.primary-bg {
    .toolbar {
        .toolbar-background {
            background-color: color($colors, primary);
        }
        .toolbar-title{
            color: color($colors, light);
        }
    }
    .segment-md .segment-button {
        color: color($colors, light-gray) !important;
    }
    .segment-md .segment-button.segment-activated{
        color: color($colors, light) !important;
        font-weight: bold;
        .bolder-sm{
            border: 5px solid color($colors, light);
            width: 20px;
            margin: 0 auto;
        }
    }
}
/*********** 背景色 end **********/
/***** segment颜色定制 start *********/
.segment-md .segment-button {
    color: color($colors, gray) !important;
}
.segment-md .segment-button.segment-activated {
    color: color($colors, primary) !important;
    font-weight: bold;
    .bolder-sm{
        border: 5px solid color($colors, primary);
        width: 20px;
        margin: 0 auto;
    }
}
p {
    font-weight: 600;
    color: color($colors, grey);
}
/***** segment颜色定制 end ********/

.item-divider-sm {
    height: 10px;
    background-color: color($colors, light-gray);
}

video{
    // position: fixed;
    // bottom: 0;
    // min-width: 100%;
    // min-height: 100%;
    width: 100%; 
    height: 100%; 
    object-fit: fill;
    // z-index: -100;
    // background-size:cover !important;
    // -webkit-background-size:cover !important; 
    // -moz-background-size:cover !important; 
    // -o-background-size:cover !important; 
    // left: 50%;
    // transform: translate(-50%,0);
    // -webkit-transform: translate(-50%,0);
}
